h1 {
    text-align: center;
}
p {
  text-align: center;
}
table {
    width: 80%;
    height: 35%;
    background-color: rgb(197, 197, 218);
    cursor: pointer;
    margin: 0 10%;
  }
  td {
    width: 10%;
    text-align: center;
    height: 10vh;
  }
  #tableimg {
    height: 100%;
  }
  #remove {
    height: 4vh;
    width: 50%;
    border-radius: 5px;
    Background-color: rgb(239, 82, 25);
    cursor: pointer;
  }
  #checkout {
    height: 7vh;
    width: 30%;
    Background-color: rgb(255, 167, 4);
    cursor: pointer;
    border-radius: 13px;
  }
  .amount {
    display: flex;
    gap: 20%;
    margin-left: 30%;
    padding: 2% 0;
  }
  #total {
    font-size: 1.8em;
    font-weight: bold;
    padding-top: 30px;
  }