

.navbar {
    display: flex;
    position: -webkit-sticky;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(23, 30, 41);
    color: white;
    padding: 1rem 2rem;
    height: 7vh;
    position: sticky;
    z-index: 100;
  }
  
  .logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }

  .nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }

  .nav-links a:hover {
    color: #ffc107;
  }
  
  .search input {
    flex: 1; 
    border: none;
    padding: 10px;
    background-color: transparent; 
}
  
  .account-dropdown {
    position: relative;
  }
  .nav-item {
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: space-between;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
  }
  
  .search-button {
    padding: 8px 12px;
    background-color: #ff9900;
    color: white;
    border: none;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    margin-left: 1px;
  }
  .search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px; 
    width: 80%;
    overflow: hidden;
    background-color: #f0f0f0;
  }
  .search-container input:focus {
    outline: none; 
  }
  
