.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .form-container {
    
    width: 300px; 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .login-container p {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .login-container label {
    font-weight: bold;
  }
  
  .login-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-container button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-container a {
    text-decoration: none;
    color: #007bff;
  }
  
  /* Signup Form Styling */
  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }

  
  
  .signup-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .signup-container p {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .signup-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .signup-container label {
    font-weight: bold;
  }
  
  .signup-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-container button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-container a {
    text-decoration: none;
    color: #007bff;
  }
  body{
    background-color: #ccc;
  }
  

  
#hero {
  background-color: Pale Mint Green;
}
#footer {
    background-color: rgb(23, 30, 41);
    color: rgb(193, 185, 185);
    cursor: pointer;
  }
  li {
    list-style-type: none;
    padding-bottom: 11px;
  }
  .footer-container {
    display: flex;
    justify-content: space-around;
    margin: 2%;
  }
  #copyright {
    text-align: center;
    padding-bottom: 2%;
  }
  .list {
    text-decoration: underline;
  }
  .header {
    display: flex;
  }
  #categories {
    width: 20%;
    border: 1px solid rgb(111, 107, 107);
    border-radius: 2%;
  }
  #bannerImage {
    padding-left: 6%;
  } 
  .cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr );
    gap: 1%;
  }
  .cards {
    height: 50vh;
    width: auto;
    background-color: rgb(215, 226, 215);
    border-radius: 2%;
    cursor: pointer;
  }
  .cards:hover {
    background-color: rgb(248, 220, 173);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  .cards img {
    width: 100%;
    height: 62%;
    border-radius: 2%;
  }
  .cards button {
    width: 40%;
    height: 5vh;
    border-radius: 22px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(255, 167, 4);
  }
  .cards button:hover {
    transform: translateY(-5px);
  }
  #shopping-list {
    margin: 0 3%;
    padding-bottom: 10%;
  }
  .product-link {
    text-decoration: none;
  }
  .product-link p {
    color: black;
  }
  .product-details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.product-details-image img {
    max-width: 100%;
}

.product-details-content {
    flex: 1;
    margin-left: 20px;
}