#footer {
  background-color: rgb(51, 117, 222);
  cursor: pointer;
}
li {
  list-style-type: none;
  padding-bottom: 9px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}
#copyright {
  text-align: center;
}
.list {
  text-decoration: underline;
}